@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .area {
        @apply max-w-screen-xl w-[95%] mx-auto 
    }
    .proyectos-medium {
        grid-template-areas: 
        "bigTopLeft minTopCenter bigTopRight"
        "bigTopLeft bigBotCenter bigTopRight"
        "bigTopLeft bigBotCenter minBotRight"
        ;
    }
    .proyectos {
        grid-template-areas: 
        "bigTopLeft"
        "minTopCenter"
        "bigTopRight"
        "bigBotCenter"
        "minBotRight"
        ;
    }
    .selectText::selection {
        background-color: #6845c7;
        color: white;
      }
    
}


body{
    overflow-x: hidden;
}
body ::selection {
    background-color: #6845c7;
    color: white;
    text-shadow: 5px 3px 1px rgba(0, 0, 0, 0.5);
}

